

.container{
    width: 300px;
    min-height: 400px;
}
.block {
    border: 1px solid #D6D6D6;
    padding: 5px;
    border-radius: 5px;
    background: aliceblue;
    margin: 10px 0;
}

.subBlock{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

button.up{
    width: 10%; 
    float: left;
    position: relative;
    bottom: 5px;
}

button.copyone{
    width: 90%; 
    float: left
}

.title{font-size: 14px; margin-bottom: 5px; }

.block.languages a{
    font-size: 8px;
    padding: 3px;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.2; }
}